<table>
    <tr>
        <td class="imgfit">
            <div class="image col-md-12"> <img src="assets/2761.jpg" class="rounded" class="fit"
                width="300" height="300"> </div>

        </td>
<td>
<div class="row container-fluid mt-5 d-flex justify-content-center">
    <div class="card p-3" *ngFor="let user of allUsers">
        <div class="d-flex justify-content-center">
            <div class="user-details" style="border:2px solid #bababa">
                <div class="image "> <img src="assets/ProPic.png" class="rounded" width="155"> </div>
                <div class="ml-3 w-100"> 
                <div>
                    <h5 class="mb-0 mt-0">{{user.firstName |titlecase}} {{user.lastName|titlecase}}</h5><span
                        class="user-name">@{{user.loginId}}</span><br>
                        <button class="btn btn-primary mt-2" (click)="openIndividualTweetsModal(user.loginId)">Tweets</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</td>
</tr>
</table>