<table>
    <tr>
        
<!-- <div class="row container-fluid mt-5 d-flex justify-content-center"> -->
    <td>
    <div class="col-md-12 card p-3 ">
        <div class="d-flex justify-content-center">
          <div class="user-details" style="border:2px solid #2e2bd4">
            <div class="image "> <img src="assets/ProPic.png" class="rounded" width="155"> </div>
            <!-- <div class="ml-3 w-100"> -->
            <div>
                <h4 class="mb-0 mt-0">{{userData?.firstName |titlecase}} {{userData?.lastName|titlecase}}</h4><span class="user-name">@{{userName}}</span>
                <!-- <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column"> <span class="articles">Followers</span> <span class="number1">38</span> </div>
                    <div class="d-flex flex-column"> <span class="followers">{{dateFormat|date: 'MMM d, y, h:mm a'}}</span> <span class="number2">980</span> </div>

                </div> -->

            </div>
          </div>
        </div>
    </div>
    </td>
  <td>
    <div class="col-md-12 card p-3">
        <div class=""><strong>Post your Tweet here</strong></div>
        <div class="row">
            <div class="col-md-12"><textarea style="width:100%;" id="tweetText" maxlength="144" [(ngModel)]="tweetData"  ></textarea>

            </div>
            <div class="col">
                <button class="btn btn-primary f-right" [disabled]="tweetData.length==0 || tweetData==null || tweetData.trim()==''" (click)="postTweet()">Tweet</button>
            </div>
        </div>

    </div>
    </td>
<!-- </div> -->

</tr>
</table>